USE [WSR_Tortik]
GO
/****** Object:  Table [dbo].[CakeDecoration]    Script Date: 10.11.2021 16:00:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CakeDecoration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[Price] [decimal](8, 2) NULL,
	[Weight] [nvarchar](20) NULL,
	[Image] [varbinary](max) NULL,
	[SupplierId] [int] NULL,
 CONSTRAINT [PK_CakeDecoration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CakeDecorationType]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CakeDecorationType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_CakeDecorationType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](30) NOT NULL,
	[TypeId] [int] NOT NULL,
	[Characteristic] [nvarchar](max) NULL,
	[OveruseRateId] [int] NULL,
	[SupplierId] [int] NULL,
	[DateOfBuying] [date] NULL,
	[Amount] [nvarchar](30) NULL,
	[Name] [nvarchar](40) NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentType]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_EquipmentType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gost]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Gost] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingridient]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingridient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](20) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[UnitId] [int] NULL,
	[Amount] [int] NULL,
	[TypeId] [int] NULL,
	[Price] [decimal](8, 2) NULL,
	[GostId] [int] NULL,
	[Packing] [nvarchar](30) NULL,
	[Characteristic] [nvarchar](max) NULL,
	[SupplierId] [int] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Ingridient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngridientType]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngridientType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_IngridientType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ProductId] [int] NULL,
	[BuyerId] [int] NULL,
	[ManagerId] [int] NULL,
	[Price] [decimal](8, 2) NULL,
	[DateOfEnd] [date] NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OveruseRate]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OveruseRate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OveruseRate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Size] [nvarchar](30) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationCakeDecoration]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationCakeDecoration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CakeDecorationId] [int] NOT NULL,
	[Amount] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SpecificationCakeDecoration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationIngridient]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationIngridient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[IngridientId] [int] NOT NULL,
	[Amount] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_SpecificationIngridient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationOperation]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationOperation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Operation] [nvarchar](30) NOT NULL,
	[SerialNumber] [int] NOT NULL,
	[EquipmentTypeId] [int] NOT NULL,
	[TimeOnOperation] [nvarchar](20) NULL,
 CONSTRAINT [PK_SpecificationOperation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationSemiProduct]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationSemiProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[SemiProductId] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_SpecificationSemiProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Address] [nvarchar](max) NULL,
	[DeliveryPeriod] [nvarchar](40) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.11.2021 16:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Photo] [varbinary](max) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CakeDecoration] ON 

INSERT [dbo].[CakeDecoration] ([Id], [Label], [Name], [UnitId], [Amount], [TypeId], [Price], [Weight], [Image], [SupplierId]) VALUES (1, N'00544', N'Свеча-цифра 23046-0', 5, 10, 1, NULL, N'', NULL, NULL)
INSERT [dbo].[CakeDecoration] ([Id], [Label], [Name], [UnitId], [Amount], [TypeId], [Price], [Weight], [Image], [SupplierId]) VALUES (2, N'00008496', N'Цифра-свеча "3"', 5, 10, 1, NULL, N'', NULL, NULL)
INSERT [dbo].[CakeDecoration] ([Id], [Label], [Name], [UnitId], [Amount], [TypeId], [Price], [Weight], [Image], [SupplierId]) VALUES (3, N'00008502', N'Цифра-свеча "8"', 5, 8, 1, NULL, N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[CakeDecoration] OFF
SET IDENTITY_INSERT [dbo].[CakeDecorationType] ON 

INSERT [dbo].[CakeDecorationType] ([Id], [Name]) VALUES (1, N'Свечи')
INSERT [dbo].[CakeDecorationType] ([Id], [Name]) VALUES (2, N'Атрибутика')
INSERT [dbo].[CakeDecorationType] ([Id], [Name]) VALUES (3, N'Шоколад')
SET IDENTITY_INSERT [dbo].[CakeDecorationType] OFF
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [Label], [TypeId], [Characteristic], [OveruseRateId], [SupplierId], [DateOfBuying], [Amount], [Name]) VALUES (3, N'1232', 1, N'Характеристика инструмента блин', 1, 3, CAST(N'2003-05-12' AS Date), N'3', NULL)
INSERT [dbo].[Equipment] ([Id], [Label], [TypeId], [Characteristic], [OveruseRateId], [SupplierId], [DateOfBuying], [Amount], [Name]) VALUES (4, N'221', 2, N'Что-то прямоугольной формы размер 30х30 метров', 2, 4, CAST(N'2000-02-02' AS Date), N'5', NULL)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
SET IDENTITY_INSERT [dbo].[EquipmentType] ON 

INSERT [dbo].[EquipmentType] ([Id], [Name]) VALUES (1, N'Прекрасный тип')
INSERT [dbo].[EquipmentType] ([Id], [Name]) VALUES (2, N'Ужасный тип')
INSERT [dbo].[EquipmentType] ([Id], [Name]) VALUES (3, N'Сами придумайте')
SET IDENTITY_INSERT [dbo].[EquipmentType] OFF
SET IDENTITY_INSERT [dbo].[Gost] ON 

INSERT [dbo].[Gost] ([Id], [Name]) VALUES (1, N'ГОСТ 37-91')
INSERT [dbo].[Gost] ([Id], [Name]) VALUES (2, N'ГОСТ 6822-67')
INSERT [dbo].[Gost] ([Id], [Name]) VALUES (3, N'ТУ 9148-003-49464 828-04')
SET IDENTITY_INSERT [dbo].[Gost] OFF
SET IDENTITY_INSERT [dbo].[Ingridient] ON 

INSERT [dbo].[Ingridient] ([Id], [Label], [Name], [UnitId], [Amount], [TypeId], [Price], [GostId], [Packing], [Characteristic], [SupplierId], [Image]) VALUES (1, N'', N'Мука Сокольническая', NULL, NULL, 1, NULL, NULL, N' 1 кг', N'', NULL, NULL)
INSERT [dbo].[Ingridient] ([Id], [Label], [Name], [UnitId], [Amount], [TypeId], [Price], [GostId], [Packing], [Characteristic], [SupplierId], [Image]) VALUES (2, N'', N'Мука высший сорт ', NULL, NULL, 1, CAST(20.00 AS Decimal(8, 2)), NULL, N'50 кг', N'', NULL, NULL)
INSERT [dbo].[Ingridient] ([Id], [Label], [Name], [UnitId], [Amount], [TypeId], [Price], [GostId], [Packing], [Characteristic], [SupplierId], [Image]) VALUES (3, N'', N'Мука пшеничная (1 сорт, высший сорт)', NULL, NULL, 1, NULL, NULL, N'', N'', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Ingridient] OFF
SET IDENTITY_INSERT [dbo].[IngridientType] ON 

INSERT [dbo].[IngridientType] ([Id], [Name]) VALUES (1, N'Мука')
INSERT [dbo].[IngridientType] ([Id], [Name]) VALUES (2, N'Сахар')
INSERT [dbo].[IngridientType] ([Id], [Name]) VALUES (3, N'Соль')
SET IDENTITY_INSERT [dbo].[IngridientType] OFF
SET IDENTITY_INSERT [dbo].[OveruseRate] ON 

INSERT [dbo].[OveruseRate] ([Id], [Name]) VALUES (1, N'Прекрасно')
INSERT [dbo].[OveruseRate] ([Id], [Name]) VALUES (2, N'Нормально')
INSERT [dbo].[OveruseRate] ([Id], [Name]) VALUES (3, N'Ужасно')
SET IDENTITY_INSERT [dbo].[OveruseRate] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Заказчик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Менеджер по закупкам')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Директор')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name], [Address], [DeliveryPeriod]) VALUES (3, N'Армия коневодов', N'МинасТирит', N'На 5 день с востока с 1 лучём солнца')
INSERT [dbo].[Supplier] ([Id], [Name], [Address], [DeliveryPeriod]) VALUES (4, N'ООО "Плевать"', N'Суздальская 15', N'Никогда')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'т')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (2, N'упак')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (3, N'упаковка')
SET IDENTITY_INSERT [dbo].[Unit] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [LastName], [FirstName], [MiddleName], [Login], [Password], [RoleId], [Photo]) VALUES (1, N'Яковлев ', N'Ефим', N'Ильяович', N'loginDEsar2018', N'2M2IQH', 1, NULL)
INSERT [dbo].[User] ([Id], [LastName], [FirstName], [MiddleName], [Login], [Password], [RoleId], [Photo]) VALUES (2, N'Васильева ', N'Маргарита', N'Валерьяновна', N'loginDEuxd2018', N'*PI3KN', 2, NULL)
INSERT [dbo].[User] ([Id], [LastName], [FirstName], [MiddleName], [Login], [Password], [RoleId], [Photo]) VALUES (3, N'Петухов ', N'Гордей', N'Серапионович', N'loginDEepk2018', N'VZ&Ak7', 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[CakeDecoration]  WITH CHECK ADD  CONSTRAINT [FK_CakeDecoration_CakeDecorationType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[CakeDecorationType] ([Id])
GO
ALTER TABLE [dbo].[CakeDecoration] CHECK CONSTRAINT [FK_CakeDecoration_CakeDecorationType]
GO
ALTER TABLE [dbo].[CakeDecoration]  WITH CHECK ADD  CONSTRAINT [FK_CakeDecoration_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[CakeDecoration] CHECK CONSTRAINT [FK_CakeDecoration_Supplier]
GO
ALTER TABLE [dbo].[CakeDecoration]  WITH CHECK ADD  CONSTRAINT [FK_CakeDecoration_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[CakeDecoration] CHECK CONSTRAINT [FK_CakeDecoration_Unit]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_EquipmentType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[EquipmentType] ([Id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_EquipmentType]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_OveruseRate] FOREIGN KEY([OveruseRateId])
REFERENCES [dbo].[OveruseRate] ([Id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_OveruseRate]
GO
ALTER TABLE [dbo].[Ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Ingridient_Gost] FOREIGN KEY([GostId])
REFERENCES [dbo].[Gost] ([Id])
GO
ALTER TABLE [dbo].[Ingridient] CHECK CONSTRAINT [FK_Ingridient_Gost]
GO
ALTER TABLE [dbo].[Ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Ingridient_IngridientType] FOREIGN KEY([TypeId])
REFERENCES [dbo].[IngridientType] ([Id])
GO
ALTER TABLE [dbo].[Ingridient] CHECK CONSTRAINT [FK_Ingridient_IngridientType]
GO
ALTER TABLE [dbo].[Ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Ingridient_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Ingridient] CHECK CONSTRAINT [FK_Ingridient_Supplier]
GO
ALTER TABLE [dbo].[Ingridient]  WITH CHECK ADD  CONSTRAINT [FK_Ingridient_Unit] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Ingridient] CHECK CONSTRAINT [FK_Ingridient_Unit]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Role] FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Role]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Role1] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Role1]
GO
ALTER TABLE [dbo].[SpecificationCakeDecoration]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationCakeDecoration_CakeDecoration] FOREIGN KEY([CakeDecorationId])
REFERENCES [dbo].[CakeDecoration] ([Id])
GO
ALTER TABLE [dbo].[SpecificationCakeDecoration] CHECK CONSTRAINT [FK_SpecificationCakeDecoration_CakeDecoration]
GO
ALTER TABLE [dbo].[SpecificationCakeDecoration]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationCakeDecoration_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[SpecificationCakeDecoration] CHECK CONSTRAINT [FK_SpecificationCakeDecoration_Product]
GO
ALTER TABLE [dbo].[SpecificationIngridient]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationIngridient_Ingridient] FOREIGN KEY([IngridientId])
REFERENCES [dbo].[Ingridient] ([Id])
GO
ALTER TABLE [dbo].[SpecificationIngridient] CHECK CONSTRAINT [FK_SpecificationIngridient_Ingridient]
GO
ALTER TABLE [dbo].[SpecificationIngridient]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationIngridient_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[SpecificationIngridient] CHECK CONSTRAINT [FK_SpecificationIngridient_Product]
GO
ALTER TABLE [dbo].[SpecificationOperation]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationOperation_EquipmentType] FOREIGN KEY([EquipmentTypeId])
REFERENCES [dbo].[EquipmentType] ([Id])
GO
ALTER TABLE [dbo].[SpecificationOperation] CHECK CONSTRAINT [FK_SpecificationOperation_EquipmentType]
GO
ALTER TABLE [dbo].[SpecificationOperation]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationOperation_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[SpecificationOperation] CHECK CONSTRAINT [FK_SpecificationOperation_Product]
GO
ALTER TABLE [dbo].[SpecificationSemiProduct]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationSemiProduct_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[SpecificationSemiProduct] CHECK CONSTRAINT [FK_SpecificationSemiProduct_Product]
GO
ALTER TABLE [dbo].[SpecificationSemiProduct]  WITH CHECK ADD  CONSTRAINT [FK_SpecificationSemiProduct_Product1] FOREIGN KEY([SemiProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[SpecificationSemiProduct] CHECK CONSTRAINT [FK_SpecificationSemiProduct_Product1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
